<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystar Custom</title>
</head>
<body>
    <h1>Signup Page</h1>
    <form method="post">
        {% csrf_token %}
        <div>名前<input type="text" name="name" value="{{ form.name.value|default:"" }}"></div>
        <div>メールアドレス<input type="email" name="email"></div>
        <div>パスワード<input type="password" name="password1"></div>
        <div>確認パスワード<input type="password" name="password2"></div>
        <button type="submit">サインアップ</button>
    </form>
    {{ form.errors }}
    <a href="{% url "top" %}">トップに戻る</a>
</body>
</html>